name: cate
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.5*
  #
  # for testing
  #
  - pytest
  - pytest-cov
  #
  # dependencies (in alphabetical order)
  #
  - cartopy
  - dask >=0.14
  - fiona >=1.7
  - geopandas >=0.2
  - jdcal >=1.3
  - matplotlib=1.5*
  - netcdf4 >=1.2
  - numba >=0.26
  # 1.12 gave some trouble
  - numpy=1.11*
  - pandas >=0.18
  - pillow >=4.0
  - pyqt=4*
  - pyproj >=1.9
  - scipy >=0.17
  - shapely >=1.5
  - tornado >=4.4
  - xarray >=0.9.1
  #
  # for these packages specific version are needed, lower minor version have errors
  # they often get downgraded if not required explicitly
  - hdf4 >=4.2.12
  - geos >=3.5.1