name: cate-docs
channels:
  - defaults
  - conda-forge
dependencies:
  - basemap=1.0.8.dev0=np111py35_2
  - cartopy=0.14.2=np111py35_1
  - numpy=1.11.1=py35_0
  - scipy=0.18.1=np111py35_0
  - xarray=0.8.2
  - dask>=0.11
  - netcdf4=1.2.4
  - jdcal=1.3
  - matplotlib=1.5.3=np111py35_0
  - numba>=0.28
  - pyqt=5.6.0=py35_0
  - qt=5.6.0=1
  - sphinx>=1.4
  - sphinx_rtd_theme=0.1.9
  - sphinx-argparse
  - pip:
    - sphinx_autodoc_annotation
