name: cate-env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.6*
  #
  # dependencies (in alphabetical order)
  #
  - cartopy >=0.15
  # Include Cython, otherwise pip will do so during "python setup.py install" (why???)
  - cython >=0.25
  # dask 0.15.3 broke the build
  - dask >=0.15.0, <=0.15.2
  - fiona >=1.7
  - geopandas >=0.2
  # require specific minor version to prevent downgrade
  - geos >=3.5.1
  # require specific minor version to prevent downgrade
  - hdf4 >=4.2.12
  - h5netcdf >=0.4.2
  - jdcal >=1.3
  - matplotlib >=2.0
  - netcdf4 >=1.2
  - numba >=0.33
  # numpy 1.12 gave some trouble
  - numpy >=1.11
  - owslib >=0.14
  - pandas >=0.19
  - pillow >=4.1
  - psutil >=5.2
  - pyproj >=1.9
  - pyqt >=5.6
  - pyshp >=1.2
  - python-dateutil >=2.6
  - scipy >=0.19
  - shapely >=1.5
  - tornado >=4.5
  - xarray >=0.9
  #
  # for testing only
  #
  - pytest >=3.1,<3.2
  - pytest-cov >=2.5.1,<2.6
  - flake8
